/* 
 * honeytrap 1.0 configuration file template -- please adjust
 * (c) Tillmann Werner <tillmann.werner@gmx.de>
*/

/* log to this file */
logfile		= "/opt/honeytrap/honeytrap.log"

/* PID file */
pidfile		= "/var/run/honeytrap.pid"

/* where to look for default responses
   these are sent for connections handled in "normal mode" */
response_dir	= "/opt/honeytrap/etc/honeytrap/responses"

/* where to look for plugins
   need to be set before loading plugins */
plugin_dir	= "/opt/honeytrap/etc/honeytrap/plugins"

/* run in mirror mode - mirror connections back to the initiator
   use with caution! */
//mirror = "on"

/* put network interface into promiscuous mode
   (only availabel when compiled with --with-pcap-mon) */
//promisc = "on"

/* the user and group under which honeytrap should run */
user	= "nobody"
group	= "nogroup"

/* include a file */
//include = "ports.conf"


/* ----- plugin stuff below ----- */

/* include a plugin via plugin-[ModuleName] = "" */

plugin-ftpDownload = ""
plugin-tftpDownload = ""
plugin-b64Decode = ""
plugin-vncDownload = ""

/* store attacks on disk */
plugin-SaveFile = {
	attacks_dir	= "/opt/honeytrap/attacks"
	downloads_dir	= "/opt/honeytrap/downloads"
}

/* calculate locality sensitive hashes */
plugin-SpamSum = {
	md5sum_sigfile	= "/opt/honeytrap/md5sum.sigs"
	spamsum_sigfile	= "/opt/honeytrap/spamsum.sigs"
}

/* store attacks in PostgeSQL database */
/*
plugin-SavePostgres = {
	db_host	= "localhost"
	db_name	= "some_db"
	db_user	= "some_user"
	db_pass	= "some_pass"
//	db_port = "some_port"	// if not set, use the default (5432/tcp)
}
*/


/* ----- explicit port modes below ----- */
portconf = {
	/* ignore these ports */
	ignore = {
		protocol	= "tcp"
		port		= "22"
	}
}
